.paper__levelUp {
  color: #087aff;
  font-size: 60px;
  text-align: center;
}

.paper__display_diff {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper__display_diff__before {
  font-size: 40px;
}

.paper__display_diff__after {
  font-size: 60px;
  color: #087aff;
}

.paper__levelUp__desc {
  text-align: center;
  font-weight: bold;
}
