.header {
  background-color: #037de5;
}

.drawer {
  width: 230px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.username {
  border-bottom: solid 2px rgb(102, 102, 102);
  margin-bottom: 50px;
}

.drawer-button {
  margin-bottom: 20px;
}

.drawer-button h4 {
  margin: 5px;
}

.degree {
  height: 80%;
  margin-left: 20px;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
  }
}
